
* {
    font-family: 'Ysabeau SC', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEEE9;
}
.form {
    width: 340px;
    height: 450px;
    background-color: #E3E0D3;
    display:inline-block; 
    justify-content:center;
    align-items:center;
    margin: auto;
}

h1 { 
    text-align: center;
    font-size: 25px;
    margin: 0;
    position: relative;
    top: 95px;
}
 
input {
    width: 200px;
    height: 40px;
    background-color: #C1DDDF;
    
}

.login, .password {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 15px;
}

.login {
    top: 140px;
}

.password {
    top: 149px;
}

.submit {
    width: 240px;
    height: 38px;
    font-size: 15px;
    background-color: #1B6A80;
    border: none;
    border-radius: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 179px;

}

.register {
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    top: 188px;
    color: black;
}